Flask==2.3.2
Flask-Cors==3.0.10
Celery==5.3.1
redis==5.0.0
PyPDF2==3.0.1
python-docx==0.8.11
beautifulsoup4==4.12.2
python-pptx==0.6.21
edge-tts==6.1.19
langdetect==1.0.9
moviepy==2.1.1
webvtt-py==0.5.1
