@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.create-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    height: 100vh;
    padding: 0 20px;
  }
  
  .split-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .video-section{
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    padding: 20px;
    min-width: min-content;
    height: 80%;
    max-width: 30%;
  }
  .upload-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    padding: 20px;
    height: 80%;
    max-width: 70%;
  }
  
  .video-wrapper {
    position: relative;
    height: 90%;
    cursor: pointer;
    background: black;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .video-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .play-pause-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    pointer-events: none;
    animation: fade-out 1s ease forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .slider {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
  }
  
  .slider-button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ddd;
  }
  
  .slider-button.active {
    background-color: #333;
    color: white;
    border: 2px solid black;
  }
  
  .upload-section h2,
  .upload-section p {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .upload-btn {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.0px; /* Decrease letter spacing */
  }
  
@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
    align-items: center;
  }

  .video-section,
  .upload-section {
    width: 90%;
    height: 80%;
    margin: 10px 0;
  }
}