@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.create-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    height: 100vh;
    padding: 0 20px;
  }
  
  .split-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .upload-section {
    flex: 1;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
    margin: 0 10px;
    padding: 20px;
    height: 80%;
    max-width: 70%;
  }
  
  .upload-section h2,
  .upload-section p {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .upload-btn {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .create-page {
      height: auto;
      padding: 80px 30px;
    }
  
    .split-container {
      flex-direction: column;
      align-items: center;
      height: auto;
      gap: 20px;
    }

    .upload-section {
      width: 90%;
      max-width: none;
      height: auto;
      min-height: 300px;
      margin: 10px 0;
    }
  }